@using SmartBuy.Core.Entities

@model Produto


@{
    ViewData["Title"] = "Cadastrar Novo Produto";
}

<h1>@ViewData["Title"]</h1>
<h4 class="form-control-plaintext">Preencha os dados do produto</h4>
<hr/>
<form asp-action="Create" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-row">
        
        <div class="form-group col-md-6">
            <label class="col-form-label" asp-for="Nome">Nome</label>
            <input class="form-control" asp-for="Nome" />
            <span asp-validation-for="Nome" class="alert-danger" />
        </div>
        <div class="form-group col-md-6">
            <label class="col-form-label" asp-for="Descricao">Descrição</label>
            <input class="form-control" asp-for="Descricao" />
            <span asp-validation-for="Descricao" class="alert-danger" />
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Preco" class="form-label">Preço</label>
                <div class="input-group">
                    <span class="input-group-text">$</span>
                    <input asp-for="Preco" class="form-control" lang="pt-br" step="0.01" value="@Model.Preco.ToString("F2")" type="number"/>
                </div>
                <span asp-validation-for="Preco" class="alert-danger"></span>
            </div>
        </div>

        <div class="form-group col-md-6">
            <label class="col-form-label" asp-for="Estoque">Estoque</label>
            <input class="form-control" asp-for="Estoque" type="number"/>
            <span asp-validation-for="Estoque" class="alert-danger" />
        </div>

        <div class="form-group col-md-6">

            <label class="col-form-label" asp-for="Descricao">Categoria</label>
            <select asp-for="IdCategoria" class="form-control" asp-items="ViewBag.Categorias">
                <option value="">Selecione a categoria</option>
            </select>

            <span asp-validation-for="IdCategoria" class="alert-danger" />
        </div>
        <div class="form-group col-md-6">
            <label class="col-form-label" asp-for="Imagem">Imagem</label>
            <input type="file" name="imageUpload" class="form-control" />
            <span asp-validation-for="Imagem" class="alert-danger" />
        </div>

        <div class="row">
            <div class="col-sm-4 mt-3">
                <button type="submit" value="Enviar" class="btn btn-primary">Enviar</button>
                <a asp-action="Index" class="btn btn-warning">Voltar</a>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}